@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'typografy';
@import 'blockquotes';
@import 'code';
@import 'img';
@import 'placement';

@import 'header';
@import 'footer';

@import 'nav';

body {
    background-color: $background-color;
}

* {
    box-sizing: inherit;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 2em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

