.title, .logo {
    padding: 3em 3em 3em 0;
    font-family: 'Mukta Malar', sans-serif;
    font-size: 30px;
    float: center;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 5%;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}
