@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300&display=swap');


body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    margin-top: 35px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

/*Title*/

.title,
.logo {
    padding: 3em 3em 3em 0;
    font-family: 'Mukta Malar', 
    sans-serif;
    font-size: 30px;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }
    
    .title {
        min-width: 50%;
    }
    
    .logo {
        max-width: 5%;
    }
}

.title * {
    color: #111;
    text-decoration: none;
}

.title p {
    font-style: italic;
    float: center;
}
